{% extends 'base.html' %}


{% block content %}

    {#    <form action="" method="post">#}
    {#        {% csrf_token %}#}
    {#        用户名 <input type="text" name="user">#}
    {#        密&nbsp;码 <input type="password" name="pwd">#}
    {#        <input type="submit">#}
    {#    </form>#}

    <form class="form-horizontal" action="" method="post">
        {% csrf_token %}
        <h4 class="text-center" style="margin-top: 50px;margin-bottom: 60px">登录页面</h4>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label col-sm-offset-1">用户名</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="user" id="inputUser" placeholder="user">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label col-sm-offset-1">Password</label>
            <div class="col-sm-6">
                <input type="password" class="form-control" name="pwd" id="inputPassword3" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> 记住我
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-10">
                <button type="submit" class="btn btn-default">登录</button>
            </div>
        </div>
    </form>
{% endblock %}