{% extends 'base.html' %}
{% block css_self %}
    <style type="text/css">

        .filter a {
            text-decoration: none;
            color: grey;
        }
    </style>
{% endblock %}
{% block content %}


    <div class="col-md-9 ">

        {% if 'add' in request.actions %}
            <a style="margin-bottom: 5px" href="{{ add_url }}" class="btn btn-primary">添加数据</a>
        {% endif %}
        {% if show_list.config.search_fields %}
            <form action="" method="get" class="pull-right">
                <div class="input-group" style="width: 220px">
                    <input type="text" class="form-control" name="q" value="{{ show_list.config.keyword }}">
                    <span class="input-group-btn">
                        <button class="btn btn-primary">submit</button>
                            </span>
                </div>

            </form>
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}
            <select name="action" id="" class="form-control"
                    style="display:inline-block;width: 200px;margin: 8px 8px 8px 0px;height: 35px;vertical-align: -2px">
                <option value="">------</option>
                {% for item in show_list.get_action_list %}
                    <option value="{{ item.name }}">{{ item.desc }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary">GO</button>

            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    {% for item in show_list.get_header %}
                        <th>{{ item }}</th>
                    {% endfor %}
                </tr>

                </thead>
                <tbody>
                <tr>
                    {% for data in show_list.get_body %}
                        <tr>
                            {% for item in data %}
                                <td>{{ item }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
            <nav>
                <ul class="pagination  pull-right">
                    {{ show_list.pagination.page_html|safe }}
                </ul>
            </nav>
        </form>

    </div>
    <div class="col-md-3">
        <div class="filter">
            {% for filter_field, linktags in show_list.get_filter_linktags.items %}

                <div class="well">
                    <p>{{ filter_field.upper }}</p>

                    {% for link in linktags %}
                        <p>{{ link|safe }}</p>
                    {% endfor %}

                </div>

            {% endfor %}

        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        /*这个函数是和checkbox连在一起使用的，起到一页上的数据全选全不选的效果*/
        $('#choice').click(function () {
            if ($(this).prop('checked')) {   //对象自身属性中是否具有指定的属性
                $('#choice_item').prop("checked", true)
            } else {
                $('#choice_item').prop("checked", false)
            }
        })
    </script>
{% endblock %}