.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

.main {
    padding-right: 40px;
    padding-left: 40px;
}

.nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
}

.ccontent {
    margin-top: 70px
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.active{

    background-color: #428bca;
}
/*.nav>li>a {*/
/*    position: relative;*/
/*    display: block;*/
/*    padding: 10px 15px;*/
/*}*/